:root {
  --mainColor: #15202b;
  --secondaryColor: #192734;
  --borderColor: #164d56;
  --mainText: #fff;
  --secondaryText: #eeeeee;
  --themeDotBorder: #fff;
  --previewBg: rgb(25, 39, 52, 0.8);
  --previewshadow: #111921;
  --submitBtn: #17a2b8;
}
